# macOS
.DS_Store

# Backend
manag_state_api/node_modules/
manag_state_api/uploads/
manag_state_api/.env

# Flutter / Dart
manage_state/.dart_tool/
manage_state/.flutter-plugins-dependencies
manage_state/.pub-cache/
manage_state/.pub/
manage_state/build/
